<div class="card" style="margin:10px;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <div class="card-body">
        <p class="card-text">Seleccione Mapa</p>
        <select class="dropdown" (change)="changeSelect($event)" >
          <option class="dropdown-item" *ngFor="let suit of oppoSuits">{{suit}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="currentvalueselect=='GoogleMaps'" class="col-md-8 text-center">
      <app-googlemaps [data]="data" ></app-googlemaps>   
    </div>
    <div *ngIf="currentvalueselect=='LeafletMaps'" class="col-md-8 text-center">
      <app-leafletmaps [data]="data" ></app-leafletmaps>   
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <h5 class="card-title">Detalles</h5>
        <p class="card-text">Velocidad: {{data?.speed}}</p>
        <p class="card-text">Latitud: {{data?.latitude}}</p>
        <p class="card-text">Longitud: {{data?.longitude}}</p>
        <p class="card-text">Hora del Servidor: {{data?.serverUtcDate}}</p>
        <p class="card-text">Hora del Dispositivo: {{data?.deviceUtcDate}}</p>
        <p class="card-text text-center"><small class="text-muted">Actualizado en {{counter}} seg. </small></p>
      </div>
    </div>
  </div>
</div>  

