<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card-login">
      <div class="card-header">
        <h3>Cookie</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="cookie" [(ngModel)]="inputcookie" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <input type="submit" value="Ir" class="btn float-right login_btn" (click)="goto()">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
